USE [master]
GO
/****** Object:  Database [EduBlog]    Script Date: 7/1/2025 12:32:58 AM ******/
CREATE DATABASE [EduBlog]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EduBlog', FILENAME = N'D:\ExpressSQL\MSSQL16.SQLEXPRESS\MSSQL\DATA\EduBlog.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EduBlog_log', FILENAME = N'D:\ExpressSQL\MSSQL16.SQLEXPRESS\MSSQL\DATA\EduBlog_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EduBlog].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EduBlog]
GO
/****** Object:  Table [dbo].[answer_option]    Script Date: 7/1/2025 12:32:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[answer_option](
	[option_id] [int] IDENTITY(1,1) NOT NULL,
	[option_content] [nvarchar](255) NOT NULL,
	[is_correct] [bit] NOT NULL,
	[question_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[option_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[blogs]    Script Date: 7/1/2025 12:32:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blogs](
	[blog_id] [int] IDENTITY(1,1) NOT NULL,
	[content] [text] NOT NULL,
	[created_date] [date] NOT NULL,
	[image] [nvarchar](255) NULL,
	[is_active] [bit] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[created_by] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[blog_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 7/1/2025 12:32:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contacts]    Script Date: 7/1/2025 12:32:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contacts](
	[contact_id] [int] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NOT NULL,
	[email] [nvarchar](45) NOT NULL,
	[message] [nvarchar](max) NULL,
	[name] [nvarchar](100) NULL,
	[phone] [nvarchar](10) NOT NULL,
	[status] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[contact_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[feedback]    Script Date: 7/1/2025 12:32:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[feedback](
	[feedback_id] [int] IDENTITY(1,1) NOT NULL,
	[blog_id] [int] NULL,
	[comments] [nvarchar](max) NULL,
	[created_at] [datetime2](6) NOT NULL,
	[quiz_id] [int] NULL,
	[status] [nvarchar](255) NOT NULL,
	[user_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[feedback_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lessons]    Script Date: 7/1/2025 12:32:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lessons](
	[lesson_id] [int] IDENTITY(1,1) NOT NULL,
	[created_date] [date] NULL,
	[lesson_name] [nvarchar](255) NOT NULL,
	[updated_date] [date] NULL,
	[subject_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[lesson_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment]    Script Date: 7/1/2025 12:32:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[payment_date] [date] NOT NULL,
	[expire_date] [date] NOT NULL,
	[amount] [float] NOT NULL,
	[package_type] [nvarchar](255) NOT NULL,
	[payment_method] [nvarchar](100) NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[transaction_id] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[question_bank]    Script Date: 7/1/2025 12:32:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[question_bank](
	[question_id] [int] IDENTITY(1,1) NOT NULL,
	[question_content] [nvarchar](255) NOT NULL,
	[question_type] [nvarchar](255) NOT NULL,
	[subject_id] [int] NOT NULL,
	[lesson_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[question_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[question_options]    Script Date: 7/1/2025 12:32:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[question_options](
	[option_id] [int] IDENTITY(1,1) NOT NULL,
	[question_id] [int] NOT NULL,
	[option_text] [nvarchar](max) NOT NULL,
	[is_correct] [bit] NOT NULL,
	[option_order] [int] NOT NULL,
	[created_date] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[option_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[questions]    Script Date: 7/1/2025 12:32:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[questions](
	[question_id] [int] IDENTITY(1,1) NOT NULL,
	[quiz_id] [int] NOT NULL,
	[question_text] [nvarchar](max) NOT NULL,
	[question_type] [nvarchar](20) NOT NULL,
	[question_order] [int] NOT NULL,
	[points] [decimal](5, 2) NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_date] [datetime] NOT NULL,
	[updated_date] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[question_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quiz_attempts]    Script Date: 7/1/2025 12:32:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quiz_attempts](
	[attempt_id] [int] IDENTITY(1,1) NOT NULL,
	[quiz_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[start_time] [datetime] NOT NULL,
	[end_time] [datetime] NULL,
	[score] [decimal](5, 2) NULL,
	[max_score] [decimal](5, 2) NULL,
	[percentage] [decimal](5, 2) NULL,
	[is_passed] [bit] NULL,
	[time_taken] [int] NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_date] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[attempt_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quiz_questions]    Script Date: 7/1/2025 12:32:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quiz_questions](
	[quiz_id] [int] NOT NULL,
	[question_id] [int] NOT NULL,
 CONSTRAINT [PK_quiz_questions] PRIMARY KEY CLUSTERED 
(
	[quiz_id] ASC,
	[question_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quiz_results]    Script Date: 7/1/2025 12:32:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quiz_results](
	[result_id] [int] IDENTITY(1,1) NOT NULL,
	[completed_at] [datetime2](6) NOT NULL,
	[score] [float] NOT NULL,
	[quiz_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[result_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quizzes]    Script Date: 7/1/2025 12:32:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quizzes](
	[quiz_id] [int] IDENTITY(1,1) NOT NULL,
	[quiz_name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[subject_id] [int] NOT NULL,
	[level] [nvarchar](20) NOT NULL,
	[duration] [int] NOT NULL,
	[pass_rate] [decimal](5, 2) NOT NULL,
	[quiz_type] [nvarchar](20) NOT NULL,
	[number_of_questions] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_date] [datetime] NOT NULL,
	[updated_date] [datetime] NOT NULL,
	[created_by] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[quiz_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reset_token]    Script Date: 7/1/2025 12:32:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reset_token](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[expiry_date] [datetime2](6) NULL,
	[token] [nvarchar](255) NULL,
	[user_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 7/1/2025 12:32:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_roles_role_name] UNIQUE NONCLUSTERED 
(
	[role_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[subjects]    Script Date: 7/1/2025 12:32:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[subjects](
	[subject_id] [int] IDENTITY(1,1) NOT NULL,
	[is_active] [bit] NULL,
	[subject_image] [nvarchar](255) NULL,
	[subject_name] [nvarchar](255) NOT NULL,
	[category_id] [int] NULL,
	[description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[subject_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_answers]    Script Date: 7/1/2025 12:32:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_answers](
	[answer_id] [int] IDENTITY(1,1) NOT NULL,
	[attempt_id] [int] NOT NULL,
	[question_id] [int] NOT NULL,
	[selected_option_id] [int] NULL,
	[answer_text] [nvarchar](max) NULL,
	[is_correct] [bit] NULL,
	[points_earned] [decimal](5, 2) NULL,
	[created_date] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[answer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 7/1/2025 12:32:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[created_date] [date] NULL,
	[description] [varchar](255) NULL,
	[email] [varchar](45) NOT NULL,
	[full_name] [varchar](255) NOT NULL,
	[is_active] [bit] NOT NULL,
	[password] [varchar](255) NOT NULL,
	[profile_image] [varchar](255) NULL,
	[updated_date] [date] NULL,
	[role_id] [int] NOT NULL,
	[date_of_birth] [date] NULL,
	[gender] [bit] NOT NULL,
	[phone] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_users_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[question_options] ADD  DEFAULT ((0)) FOR [is_correct]
GO
ALTER TABLE [dbo].[question_options] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[questions] ADD  DEFAULT ((1.0)) FOR [points]
GO
ALTER TABLE [dbo].[questions] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[questions] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[questions] ADD  DEFAULT (getdate()) FOR [updated_date]
GO
ALTER TABLE [dbo].[quiz_attempts] ADD  DEFAULT (getdate()) FOR [start_time]
GO
ALTER TABLE [dbo].[quiz_attempts] ADD  DEFAULT ('IN_PROGRESS') FOR [status]
GO
ALTER TABLE [dbo].[quiz_attempts] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[quizzes] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[quizzes] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[quizzes] ADD  DEFAULT (getdate()) FOR [updated_date]
GO
ALTER TABLE [dbo].[user_answers] ADD  DEFAULT ((0)) FOR [points_earned]
GO
ALTER TABLE [dbo].[user_answers] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[answer_option]  WITH CHECK ADD FOREIGN KEY([question_id])
REFERENCES [dbo].[question_bank] ([question_id])
GO
ALTER TABLE [dbo].[blogs]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[feedback]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[lessons]  WITH CHECK ADD FOREIGN KEY([subject_id])
REFERENCES [dbo].[subjects] ([subject_id])
GO
ALTER TABLE [dbo].[payment]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[question_bank]  WITH CHECK ADD FOREIGN KEY([lesson_id])
REFERENCES [dbo].[lessons] ([lesson_id])
GO
ALTER TABLE [dbo].[question_bank]  WITH CHECK ADD FOREIGN KEY([subject_id])
REFERENCES [dbo].[subjects] ([subject_id])
GO
ALTER TABLE [dbo].[question_options]  WITH CHECK ADD  CONSTRAINT [FK_options_question] FOREIGN KEY([question_id])
REFERENCES [dbo].[questions] ([question_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[question_options] CHECK CONSTRAINT [FK_options_question]
GO
ALTER TABLE [dbo].[questions]  WITH CHECK ADD  CONSTRAINT [FK_questions_quiz] FOREIGN KEY([quiz_id])
REFERENCES [dbo].[quizzes] ([quiz_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[questions] CHECK CONSTRAINT [FK_questions_quiz]
GO
ALTER TABLE [dbo].[quiz_attempts]  WITH CHECK ADD  CONSTRAINT [FK_attempts_quiz] FOREIGN KEY([quiz_id])
REFERENCES [dbo].[quizzes] ([quiz_id])
GO
ALTER TABLE [dbo].[quiz_attempts] CHECK CONSTRAINT [FK_attempts_quiz]
GO
ALTER TABLE [dbo].[quiz_attempts]  WITH CHECK ADD  CONSTRAINT [FK_attempts_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[quiz_attempts] CHECK CONSTRAINT [FK_attempts_user]
GO
ALTER TABLE [dbo].[quiz_questions]  WITH CHECK ADD  CONSTRAINT [FK_quiz_questions_question_bank] FOREIGN KEY([question_id])
REFERENCES [dbo].[question_bank] ([question_id])
GO
ALTER TABLE [dbo].[quiz_questions] CHECK CONSTRAINT [FK_quiz_questions_question_bank]
GO
ALTER TABLE [dbo].[quiz_results]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[quizzes]  WITH CHECK ADD  CONSTRAINT [FK_quizzes_subject] FOREIGN KEY([subject_id])
REFERENCES [dbo].[subjects] ([subject_id])
GO
ALTER TABLE [dbo].[quizzes] CHECK CONSTRAINT [FK_quizzes_subject]
GO
ALTER TABLE [dbo].[quizzes]  WITH CHECK ADD  CONSTRAINT [FK_quizzes_user] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[quizzes] CHECK CONSTRAINT [FK_quizzes_user]
GO
ALTER TABLE [dbo].[reset_token]  WITH CHECK ADD  CONSTRAINT [FK_reset_token_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[reset_token] CHECK CONSTRAINT [FK_reset_token_users]
GO
ALTER TABLE [dbo].[subjects]  WITH CHECK ADD  CONSTRAINT [FK_subjects_categories] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([category_id])
GO
ALTER TABLE [dbo].[subjects] CHECK CONSTRAINT [FK_subjects_categories]
GO
ALTER TABLE [dbo].[user_answers]  WITH CHECK ADD  CONSTRAINT [FK_answers_attempt] FOREIGN KEY([attempt_id])
REFERENCES [dbo].[quiz_attempts] ([attempt_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_answers] CHECK CONSTRAINT [FK_answers_attempt]
GO
ALTER TABLE [dbo].[user_answers]  WITH CHECK ADD  CONSTRAINT [FK_answers_option] FOREIGN KEY([selected_option_id])
REFERENCES [dbo].[question_options] ([option_id])
GO
ALTER TABLE [dbo].[user_answers] CHECK CONSTRAINT [FK_answers_option]
GO
ALTER TABLE [dbo].[user_answers]  WITH CHECK ADD  CONSTRAINT [FK_answers_question] FOREIGN KEY([question_id])
REFERENCES [dbo].[questions] ([question_id])
GO
ALTER TABLE [dbo].[user_answers] CHECK CONSTRAINT [FK_answers_question]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_roles] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([role_id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_users_roles]
GO
ALTER TABLE [dbo].[questions]  WITH CHECK ADD  CONSTRAINT [CHK_questions_type] CHECK  (([question_type]='ESSAY' OR [question_type]='SHORT_ANSWER' OR [question_type]='TRUE_FALSE' OR [question_type]='MULTIPLE_CHOICE'))
GO
ALTER TABLE [dbo].[questions] CHECK CONSTRAINT [CHK_questions_type]
GO
ALTER TABLE [dbo].[quiz_attempts]  WITH CHECK ADD  CONSTRAINT [CHK_attempts_status] CHECK  (([status]='ABANDONED' OR [status]='COMPLETED' OR [status]='IN_PROGRESS'))
GO
ALTER TABLE [dbo].[quiz_attempts] CHECK CONSTRAINT [CHK_attempts_status]
GO
ALTER TABLE [dbo].[quizzes]  WITH CHECK ADD  CONSTRAINT [CHK_quizzes_level] CHECK  (([level]='HARD' OR [level]='MEDIUM' OR [level]='EASY'))
GO
ALTER TABLE [dbo].[quizzes] CHECK CONSTRAINT [CHK_quizzes_level]
GO
ALTER TABLE [dbo].[quizzes]  WITH CHECK ADD  CONSTRAINT [CHK_quizzes_num_quest] CHECK  (([number_of_questions]>(0)))
GO
ALTER TABLE [dbo].[quizzes] CHECK CONSTRAINT [CHK_quizzes_num_quest]
GO
ALTER TABLE [dbo].[quizzes]  WITH CHECK ADD  CONSTRAINT [CHK_quizzes_pass_rate] CHECK  (([pass_rate]>=(0) AND [pass_rate]<=(100)))
GO
ALTER TABLE [dbo].[quizzes] CHECK CONSTRAINT [CHK_quizzes_pass_rate]
GO
ALTER TABLE [dbo].[quizzes]  WITH CHECK ADD  CONSTRAINT [CHK_quizzes_quiz_type] CHECK  (([quiz_type]='ASSIGNMENT' OR [quiz_type]='MOCK_TEST' OR [quiz_type]='PRACTICE'))
GO
ALTER TABLE [dbo].[quizzes] CHECK CONSTRAINT [CHK_quizzes_quiz_type]
GO
USE [master]
GO
